table {
    border: 2px solid;
    border-collapse: collapse;
}

.statusCell {
    text-align: center;
    border: 1px dotted;
}

.issueCell {
    vertical-align: top;
    border: 1px dotted;
}

.labelPill {
    border-radius: 50px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    white-space: nowrap;
}

.issueBlock {
    background-color: #f6fbec;
    border-color: rgb(132, 253, 132);
    width: 100%;
    margin: 5px 0px;
}
